.container {
  display: grid;
  justify-items: center;
}

.container > h2 {
  font-size: 30px;
}

.container > table {
  font-size: 20px;
  text-align: center;
  border-collapse: collapse; 
}

.container tr {
  border-bottom: solid lightgray 2px;
}

.container th, .container td {
  padding: 8px;
  width: 500px;
}