.container {
  display: grid;
  grid-template-rows: auto auto;
}

.container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2px 0;
}

.portraits {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.portraits > article {
  display: grid;
  grid-auto-flow: row;
}

.portraits > article > img {
  height: 30px;
}

.portraits > article > p {
  margin: 0;
  font-size: 12px;
}

.container > header > h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.container > header > button {
  font-size: 16px;
  font-weight: 900;
  padding: 6px 20px;
  text-decoration: none;
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 8px;
}

.container > header > button:hover {
  opacity: 0.9;
}

.container > img {
  height: max(500px, 80vh);
}