.popup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-items: center;
  background-color: white;
  padding: 20px;
  border: solid black 2px;
  border-radius: 10px;
}

.popup > h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
}

.popup > p {
  font-size: 20px;
  margin: 6px 0;
  text-align: center;
}

.popup > input {
  width: 240px;
  margin-top: 10px;
  font-size: 24px;
  background-color: white;
  border: none;
  border-bottom: solid black 2px;
  outline: none;
  text-align: center;
}

.blocker {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
}