.container {
  position: absolute;
  top: 0%;
  left: 0;
  width: auto;
  border: solid black 2px;
  border-radius: 10px;
  background-color: white;
}

.character {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 40px auto;
  justify-items: start;
  align-items: center;
  border: none;
  border-bottom: solid black 2px;
  padding: 4px 8px;
  margin: 0;
  outline: none;
  background: none;
}

.character::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
}

.character:hover::after {
  opacity: 0.1;
}

.character:last-child {
  border: none;
}

.character > img {
  height: 24px;
}

.character > p {
  font-size: 16px;
  margin: 0;
}